@font-face {
    font-family: "Iosevka";
    font-weight: 400;
    src: url('font/Iosevka-Regular.ttc');
}
@font-face {
    font-family: "Iosevka";
    font-weight: 600;
    src: url('font/Iosevka-SemiBold.ttc');
}
@font-face {
    font-family: "Iosevka";
    font-weight: 700;
    src: url('font/Iosevka-Bold.ttc');
}
@font-face {
    font-family: "Iosevka";
    font-weight: 300;
    src: url('font/Iosevka-Light.ttc');
}
@font-face {
    font-family: "Iosevka";
    font-weight: 200;
    src: url('font/Iosevka-Thin.ttc');
}
@font-face {
    font-family: "Iosevka";
    font-weight: 500;
    src: url('font/Iosevka-Medium.ttc');
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

:root {
    --bg-color: #000;
    --fore-color: #aaaaab;
    --hover-color: #333333;
    --accent-color: #5f8787;
    --secondary-color: #5f81a5;
}


